{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join a Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <style>
        .box{
            border: 4px solid black;
            margin: 0 auto;
        }
    </style>
</head>
<body>
        <h2 class="jumbotron">
            Currently active forums: {{count}}
            <form method="POST" action="{% url 'addInForum' %}">
                {% csrf_token %}
            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Add a Forum</button>
            </form>
            <form method="POST" action="{% url 'addInDiscussion' %}">
                {% csrf_token %}
            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Join a Forum</button>
            </form>
        </h2>
            <div class="card-columns" style="padding: 10px; margin: 20px;"></div>
            
            
            {%for forum in forums %}
            
                <div class="card box container">
                    <br>
                    <h5 class="card-title">
                        <a href='{{forum.link}}'><h3>{{forum.topic}}</h3></a> 
                        <div class="card-body container">
                                <p>{{forum.description}}</p>
                            </h5>
                            <hr>
                            <p> By: {{forum.name}}</p>
                            email- {{forum.email}}
                            <hr>     
                            <h4>Views from other users</h4>
                            {%for discuss in discussions%}
                            {%for objs in discuss%}  
                            {% if objs.forum == forum %}
                               {{objs.discuss}}
                               <br>
                            {% endif %}
                            {%endfor%}
                            {%endfor%}
                            <form method="POST" action="{% url 'addInDiscussion' %}">
                                {% csrf_token %}
                            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Create a New Forum</button>
                            </form>
                        </div>
                </div>
            </div>
            <br>
            
            {%endfor%}
          
</body>
</html>

{% endblock %}